version: "3.8"

services:
  astro-app:
    image: ghcr.io/gindra-o7/cici-mandarin:1.0.5
    container_name: cici-mandarin
    restart: always
    ports:
      - "4321:4321"
    networks:
      - npm_network
      - cicimandarin_network
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=4321
      - DATA_DIR=/app/data
      - UPLOAD_DIR=/app/dist/client/uploads/articles
      - ADMIN_SECRET_CODE=${ADMIN_SECRET_CODE}
    volumes:
      - ./data:/app/data
      - ./uploads:/app/dist/client/uploads/articles

networks:
  npm_network:
    external: true
  cicimandarin_network:
    external: true
